<!DOCTYPE html>

<html>
<title>Hamzat</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/font/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/w3.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif
  }
</style>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="./static/img/ibrahim.jpg" style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <span class="typed w3-amber"></span>

            </div>
          </div>
          <br />
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>programmer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i> Lagos ,Nigeria</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i> hamat.ibrahim3@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i> +2349096460769</p>
            <hr>

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
            <p>Web development</p>

            <p>Machine Learning</p>

            <p>Computer vision</p>

            <p>Mobile application development</p>
            <p>Natural Language</p>


            <br>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <p>English</p>

            <p>Yoruba</p>

            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work
            With</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Web Developement</b></h5>
            <h6 class="w3-text-teal"></h6>
            <p>Django, Flask , Laravel , Vue js , React js , Node js</p>

            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Machine Learning/ Deep learning/Computer Vision</b></h5>
            <p>Tensorflow , Keras , Sklearn-learn , Pytorch , Opencv </p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Mobile application</b></h5>
            <p>React Native</p>
            <hr>
          </div>

        </div>

        <div class="w3-container w3-card-2 w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>My
            Works</h2>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Edwardsville by Heart web Page</b></h5>
            <h6 class="w3-text-teal"><a href="edwardsvillebyheart.com">Edwardsville by Heart</a></h6>
            <p>A web Landing Page</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Fashion Application android</b></h5>
            <h6 class="w3-text-teal"></a>A native Android application</h6>
            <p>A android application to for fashion designer to save measurement and get client measurement</p><br>
          </div>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Django Web app</b></h5>
            <a class="w3-text-teal"><a href="https://github.com/hamzzy/django_bot_speech_recognition-">A ChatBot</a></h6>
              <p>A web app Bot built on Django for simple question and answer adn also use speech recogniton</p><br>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Market place</b></h5>
            <h6 class="w3-text-teal"> <a href="https://github.com/hamzzy/advertise">A buying and selling web app</a></h6>
            <p>A web app built on django framework for buying and selling</p><br>

          </div>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Car Inventory</b></h5>
            <h6 class="w3-text-teal">A car web app</h6>
            <p>A web app built with Laravel for a Car dealer</p><br>
          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>



  <footer class="w3-container w3-amber w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <a href=""><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://twitter.com/hamzzygeek"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://github.com/hamzzy"><i class="fa fa-github w3-hover-opacity"></i></a>
    <p>crafted by Hamzat</p>

  </footer>


  <script src="./static/js/jquery.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
  <script src="./static/js/typed.js"></script>


  <script>
    $(".typed").typed({
      strings: ["My Name is Hamzat Ibrahim", "I'm a software developer", "Simplicity is better than Explicit"],
      typeSpeed: 100,
      backDelay: 1000,
      shuffle: true,
      // loop
      loop: true
    });
  </script>
</body>

</html>